
<div class="jumbotron bg-home hidden-lg-down" style="background-image:url('../../assets/img/background/banner.png')">
  <h3 class="display-3 text-center">Alquile ya un gran vehículo, al mejor precio!!</h3>
</div>

<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-4">
      <app-reservacion></app-reservacion>
    </div>
    <div class="col-md-8 hidden-sm-down">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-block">
              <h3 class="card-title">Viaje cómodo y seguro!!</h3>
              <p class="card-text">Con los vehiculos más confortables y que le brindan bienestar a la familia!!.</p>
              <a href="#" class="btn btn-primary">Ver vehiculos</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-block">
              <h3 class="card-title">Promociones!!!</h3>
              <p class="card-text">Aproveche estas vacaciones!!! con nuestros precios unicos en el mercado..</p>
              <a href="#" class="btn btn-primary">Promociones</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
