
<div
    *ngIf="userInfo.countryLocated == '1'"
    class="jumbotron bg-home hidden-lg-down"
    style="background-image:url('../../assets/img/background/Venezuela.jpg'); margin-top:40px;height: 360px;"></div>
<div *ngIf="userInfo.countryLocated == '3'"
      class="jumbotron bg-home hidden-lg-down"
      style="background-image:url('../../assets/img/background/Panama.jpg'); margin-top:40px;height: 360px;"></div>

<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-4">
      <app-reservacion></app-reservacion>
    </div>
    <div class="col-md-8 hidden-sm-down">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="row">
              <div class="col-md-6">
                <div class="card-block">
                  <h3 class="card-title">Viaje cómodo y seguro!!</h3>
                </div>
              </div>
              <div class="col-md-6">
                <img src="assets/img/viajeComodo.jpg" class="imgCard">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="row">
             <div class="col-md-6">
               <div class="card-block">
                 <h3 class="card-title">Conoce nuestras promociones.</h3>
               </div>
             </div>
             <div class="col-md-6">
               <img src="assets/img/promociones.jpg" class="imgCard">
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
