<nav class="border sidebar navReservacion fadeIn fast reservacion">

  <h5 class="titleReservation">Alquiler/reserva Online</h5>
  <form [formGroup]="formulario" (ngSubmit)="reservacionSearch()" class="formReservacion">
  <div class="row">
    <div class="col-md-6" style="display:none">
      <div class="form-group bd-search " [ngClass]="{ 'has-danger': formulario.get('countryId').errors?.required && !formulario.get('countryId').untouched }">
        <label for="countryId" class="h-25">País</label>
        <select class="custom-select form-control form-control-sm"
                (ngModelChange)="getCity($event)"
                formControlName="countryId"
                [(ngModel)]="userInfo.countryLocated">
          <option  value="" selected>Seleccione...</option>
          <option [value]="item.id" *ngFor="let item of country">{{ item.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group bd-search" [ngClass]="{ 'has-danger': formulario.get('cityId').errors?.required && !formulario.get('cityId').untouched }">
        <label for="city" class="h-25">Lugar de retiro</label>
        <select class="custom-select form-control form-control-sm"
                formControlName="cityId">
          <option  value="" selected>Seleccione...</option>
          <option [value]="city.id" *ngFor="let city of citys">{{ city.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="formulario.get('cityId').value && _reservacionService.opcionesReturn.length > 0 && formulario.get('returnDiferent').value != true">
      <div class="form-group bd-search" [ngClass]="{ 'has-danger': formulario.get('returnCityId').errors?.returnLocationValid && formulario.get('returnCityId').untouched }">
        <label for="returnCityId">Lugar de retorno</label>
        <select class="custom-select form-control form-control-sm h-25"
                   formControlName="returnCityId">
          <option  value="" selected>Lugar de retorno</option>
          <option [value]="city.city" *ngFor="let city of _reservacionService.opcionesReturn">{{ city.name }}</option>
        </select>

               <div  *ngIf="formulario.get('returnDiferent').errors?.returnLocationValid && !formulario.get('ReturnLocation').untouched " class="form-control-feedback">
                El lugar de retorno es requerido
               </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group ">
        <input type="checkbox" formControlName="returnDiferent">
        <label for="returnDiferent" class="devolucionLabel">Devolución en la misma oficina</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
     <div class="col-lg-6">
        <div class="form-group" [ngClass]="{ 'has-danger': formulario.get('InitDate').errors?.required && !formulario.get('InitDate').untouched}">
          <label for="PickUpDate">Fecha de inicio</label>
          <input type="datetime-local"
                class="form-control form-control-sm h-25"
                formControlName="InitDate"
                min="{{ today | amDateFormat: 'YYYY-MM-DD HH:mm:ss' }}">

                <div  *ngIf="formulario.get('InitDate').errors?.required && !formulario.get('InitDate').untouched" class="form-control-feedback">
                 La fecha de inicio es requerida
                </div>

        </div>
      </div>
        <div class="col-lg-6">
          <div class="form-group" [ngClass]="{ 'has-danger': formulario.get('ReturnDate').errors?.required && !formulario.get('ReturnDate').untouched}">
            <label for="ReturnDate">Fecha de retorno</label>
            <input type="datetime-local"
                   class="form-control form-control-sm h-25"
                   formControlName="ReturnDate"
                   min="{{ formulario.get('InitDate').value  }}">
                   <div  *ngIf="formulario.get('ReturnDate').errors?.required && !formulario.get('ReturnDate').untouched" class="form-control-feedback">
                     La fecha de retorno es requerida
                   </div>
          </div>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <h6>Codigo de promoción</h6>
        <input type="text"
               class="form-control form-control-sm h-25"
               formControlName="codePromotion">
      </div>
    </div>
  </div>
  <div class="form-group">
    <!--[disabled]="!formulario.valid"-->
    <button
          type="submit"
          class="btn btn-submit form-control-sm">
          Reservar
    </button>
  </div>
</form>
<div class="row" style="margin-top: -10px;">
  <div class="col-md-12 text-md-center">
    <a href="#" class="condicionesReservacionHome">Condiciones generales de la reserva</a>
  </div>
</div>
</nav>
