<div class="container main-container">
  <div class="row top-10">
    <div class="col-md-12 text-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" [routerLink]="['Promotores']" routerLinkActive="active">Promotores</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['Referidos']" routerLinkActive="active">Referidos</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
