<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']">
     <img src="assets/img/logo/logo.gif" class="logo" alt="">
   </a>
  <div class="collapse navbar-collapse " id="navbarText">
    <ul class="navbar-nav mr-autoModif">
      <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['home']">
              <span class="nav-link letterNavBar">Inicio</span>
          </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['fleet']">
              <span class="nav-link letterNavBar">Flota</span>
          </a>
      </li>
      <li class="nav-link dropdown" *ngIf="_authenticationService.authenticated() &&
                                          _authenticationService.getRole() != 'Normal'">
        <a class="dropdown-toggle letterNavBar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administradores</a>
        <div class="dropdown-menu ">
          <a [routerLink]="['operaciones/reservacion']" *ngIf="_authenticationService.authenticated() &&
                                              ( _authenticationService.getRole() == 'AdminGlobal' ||
                                                _authenticationService.getRole() == 'Operaciones' )">
              <span class="nav-link letterNavBar">Operciones</span>
          </a>
          <a [routerLink]="['adminClub/Promotores']" *ngIf="_authenticationService.authenticated() &&
                                              ( _authenticationService.getRole() == 'AdminGlobal' ||
                                                _authenticationService.getRole() == 'AdminClub')">
              <span class="nav-link letterNavBar">Admin Club</span>
          </a>
          <a [routerLink]="['adminFleet/country']" *ngIf="_authenticationService.authenticated() &&
                                              (_authenticationService.getRole() == 'AdminGlobal' ||
                                               _authenticationService.getRole() == 'AdminFlota')">
              <span class="nav-link letterNavBar">Admin Flota</span>
          </a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['fleet']">
              <span class="nav-link letterNavBar">Oficinas</span>
          </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['fleet']">
              <span class="nav-link letterNavBar">Contacto</span>
          </a>
      </li>
      <li class="nav-item" *ngIf="!_authenticationService.authenticated()">
          <div class="dropdown" *ngIf="language == 'es'">
            <button class="dropdown-toggle languaje" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="nav-link letterNavBar">{{ language | uppercase }}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="language = 'en'"><span class="nav-link letterNavBar">EN</span></button>
            </div>
          </div>
          <div class="dropdown" *ngIf="language == 'en'">
            <button class="dropdown-toggle languaje" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="nav-link letterNavBar">{{ language | uppercase }}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="language = 'es'"> <span class="nav-link letterNavBar">ES</span></button>
            </div>
          </div>
      </li>
      <li class="nav-item">
          <a *ngIf="!_authenticationService.authenticated()" data-toggle="modal"
                  data-target="#LoginModal">
            <span class="nav-link letterNavBar">Iniciar Sesión</span>
          </a>
          <a (click)="logout()" *ngIf="_authenticationService.authenticated()">
            <span class="nav-link letterNavBar"> Cerrar sesión</span>
          </a>
      </li>
      <li class="nav-item">
          <a  (click)="_userInfoService.countryLocated = 1"><img src="assets/img/logo/Venezuela.png" class="imgBanderas" alt=""></a>
          <a  (click)="_userInfoService.countryLocated = 3"><img src="assets/img/logo/Panama.png" class="imgBanderas" alt=""></a>
      </li>
    </ul>
  </div>
</nav>
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleLogin"><span></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12" id="login">
              <app-login></app-login>
        </div>
        <div class="col-md-12" id="register" style="display:none">
              <app-register></app-register>
        </div>
      </div>
    </div>
  </div>
</div>
