.main-container{
  margin-top: 40px;
}
.bg-faded {
    background-color: #ffffff;
}
.reservacion{
    background-color: #95B02D;
    border-radius: 60px;
    padding: 10px;
}
/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.formReservacion{
  color: black;
  font-size: 0.80rem;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}
.devolucionLabel{
    font-size: 0.70rem;
}
.titleReservation {
  text-align: left;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 0.80rem;
}
.btn-submit {
  color: white;
  background-color: black;
}
.btn-submit:disabled {
  color: white;
  background-color: black;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
.carousel-item{
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20px;
}

@media (min-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}
@media (min-width: 1200px) {
  .reservacion {
    margin-top: -400px;
    width: 560px;
    height: auto;
}
}
.bg-home{
  width: 100%;
  height: 300px;
  background-size: 1400px;
  background-position: center bottom !important;
  border-radius: 0px;
}
.logo{
  margin-left: 20px;
  width: 140px;
}


.nav li::before {
  padding-right: 10px;
  padding-left: 10px;
}
a {
  cursor:default;
}

.navbar-text{
  color:#0064c8 !important;
  font-size: 14px;
  padding-top: 0rem;
}
.fa{
  color:#0064c8 !important;
}
.text{
  margin: 5px;
}

.separacion{

  background-color: white;
}

@media (min-width: 576px)
{
.jumbotron {
    padding: 0.5rem;
  }
}
.jumbotron{
  border-radius: 0 !important;
}
.jumbotron .text-center{
  color:white;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 20px;
}
.languaje{
  border: none;
  background-color: white;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: white;
    border-top: 0px;
}
.activo{
  font-weight: bold;
}
.bd-search .form-control {
    height: 2.45rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    background-color: #fafafa;
}
.bd-search-results {
    right: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    font-size: .9rem;
}
.show{
  display: block;
}
.main-container-reservacionEnd {
    margin-top: 20px;
}
.top-10{
  margin-top: 10px;
}
.reservacionPanel {
    padding: 10px;
    background-color: #95B02C;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: burlywood;
}
/* Drop Zone */
.drop-zone {
	border: dotted 3px lightgray;
	opacity: 0.5;
	color: #666;
	text-align: center
}

.file-over {
	border: dotted 3px dodgerblue;
}

.table {
	margin-top: 30px;
}

.text-green {
	color: green
}
.form-group {
    margin-bottom: 0.5rem;
}
hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.letterNavBar{
  color: black !important;
  font-size: 1.1rem;
  font-weight: 500;
}
.mr-autoModif {
    margin-left: auto!important;
}
.nav-link {
    display: -webkit-inline-box !important;
}
.imgBanderas{
  width: 60px;
}
.imgBanderas1{
  width: 50px;
}
.imgCard{
  width: 100%;
  height: 100%;
}
.condicionesReservacionHome{
  color: black;
  font-size: 0.8rem;
  text-decoration: underline;
  font-weight: 600;
}
